/* styles/HouseQuestionnaire.css */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.house-questionnaire {
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.house-questionnaire .form-group {
  margin-bottom: 1rem;
}

.house-questionnaire .form-control {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  width: 100%;
}

.house-questionnaire .form-label {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  display: block;
}

.house-questionnaire .error {
  color: red; /* You can use a specific color if needed */
}

.house-questionnaire .submit-button {
  background-color: var(--background-color);
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.house-questionnaire .submit-button:hover {
  background-color: var(--border-color);
}